<script type="text/javascript">
  $(function(){
    $(".navbar").removeClass("navbar-devise");
    $(".navbar").addClass("navbar-default");
  });
</script>
<div class="jumbotron">
  <%= render 'partial/navbar' %>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1 class="display-3">Hello, world!</h1>
      </div>
    </div>
  </div>

  <!-- seach form -->
  <div class="top-seach-field">
    <%= form_tag "", method: :get do  %>
      <div class="row">
        <div class="container">
          <div class="col-md-7 col-xs-10" style="padding-right: 0px;">
            <%= text_field_tag :seach, params[:seach], placeholder: "お探しの地域は？", class: "form-control"  %>
          </div>

          <div class="col-md-2 hidden-xs hidden-sm">
            <%= text_field_tag :start_date, params[:start_date], placeholder: "チェックイン", class: "form-control" %>
          </div>
          <div class="col-md-2 hidden-xs hidden-sm">
            <%= text_field_tag :end_date, params[:end_date], placeholder: "チェックアウト", class: "form-control" %>
          </div>
          <div class="col-md-1 hidden-xs-2" style="padding-left: 0px;">
            <%= submit_tag "検索", class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
